

<div  class="center navButton" >
    <mat-grid-list cols="2" rowHeight="50px" [ngStyle]="{'margin-top':'10px','margin-bottom':'10px'}">
        <mat-grid-tile>
            <button mat-raised-button color="primary"  [ngStyle]="{'font-size': 'large'}" [disabled]="section_int == 0" (click)="back()" ><mat-icon>arrow_back</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" [ngStyle]="{'font-size': 'large'}" [disabled]="section_int == sections.length-1" (click)="forward()"><mat-icon>arrow_forward</mat-icon></button>
        </mat-grid-tile>
    </mat-grid-list> 
</div>

<div class="center" style="width: 70%;">
    <mat-grid-list #grid cols="3" rowHeight="100px" gutterSize="10px">
        <mat-grid-tile *ngFor="let s of sections;let i = index" >
            <div class="center">
                <button mat-raised-button 
                [ngStyle]="{'margin-left':'5px','margin-rigth':'5px','max-width':'150px'}"
                [color]="s.color"
                (click)="clickNav(i)"
                >{{s?.titre}}</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>



<div class="box spaceTop" >  
        <mat-card >
            <mat-card-title class="header" >{{section?.titre}}</mat-card-title>
            
          
            <mat-card-content>
                <mat-card   *ngFor="let sousSection of section.sousSections" [ngStyle]="{'margin-top':'5px','margin-bottom':'5px','filter':sousSection?.color}">
                    <mat-card-content class="box2" [ngClass]="{'sousSection':!small,amendement:!sousSection?.premier,principale:sousSection?.premier}">
                        <div [class]="sousSection?.type">
                            {{sousSection.texte}}
                        </div>
                        <div [ngClass]="{'rigth':!small,center:small}" *ngIf="sousSection?.vote  == 'oui'">
                            <upvote-button [itemId]='sousSection?.id' [userId]='displayName'></upvote-button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <mat-card-actions>
                <div class="center"> 
                    <button [ngStyle]="{'margin-top':'10px','margin-bottom':'20px'}" 
                        mat-raised-button color="warn"  class="commentaire"   (click)="openDialog()" >
                        Commentaire sur la section
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    
</div>

<div class="center navButton" >
    <mat-grid-list cols="2" rowHeight="50px" [ngStyle]="{'margin-top':'10px','margin-bottom':'10px'}">
        <mat-grid-tile>
            <button mat-raised-button color="primary"  [ngStyle]="{'font-size': 'large'}" [disabled]="section_int == 0" (click)="back()" ><mat-icon>arrow_back</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" [ngStyle]="{'font-size': 'large'}" [disabled]="section_int == sections.length-1" (click)="forward()"><mat-icon>arrow_forward</mat-icon></button>
        </mat-grid-tile>
    </mat-grid-list> 
</div>

<div class="center">
    <button *ngIf="section_int == sections.length-1" mat-raised-button color="accent" (click)="remerciement()" class="d-none d-sm-inline">
        <mat-icon>check</mat-icon><span>Cliquez ici pour mettre fin au questionnaire</span>
    </button>
</div>
