.box {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

.box2:hover{
  filter: drop-shadow(2px 4px 6px black);
}

.sousSection {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.spaceTop {
  margin-top: 10px;
}

.big_font {
  font-size: 36px;
}
.center {
  margin: auto;

  width: fit-content;
}

.navButton {
  width: 150px;
}
.navButton2 {
  width: max-content;
  min-width: 200px;
  max-width: 600px;
}
button {
  line-height: initial !important;
  white-space: pre-wrap !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.margin10 {
  margin-left: 10px;
  margin-right: 10px;
}

.icon-display {
  transform: scale(2);
}

.i {
  
  font-family: 'Times New Roman', Times, serif;
  margin-left: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: medium;
}

.s {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.amendement{
  font-style: italic;
}

.principale{

  font-size: medium;
  font-weight: bold;

}
.t {
  font-size: xx-large;
  font-family: fantasy;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 8px;
  line-height: normal;
}

.l {
  margin-left: 50px;
  list-style-type: circle;
  display: list-item;
}

.rigth {
  float: right;
  margin-right: 10px;
  margin-left: auto;
  display: flex;
}

.buttonR {
  margin-left: 5px;
  margin-right: 5px;
}
