.game{
  margin-top:10px;
}
.myturn{
  background-color: rgb(255, 153, 127);
}
.title
{
  border-radius: 16px;
  width: fit-content;
    margin: auto;
    margin-bottom: 15px;
    border: groove;
    padding: 10px;
    font-size: 24px;
    /* background-color: lightblue; */
    background-image: linear-gradient(to bottom right, rgb(25, 0, 255), rgb(21, 181, 255));
}
