
<div class="container">
    
    <div class="center2">
        <mat-card>
            <h1>
                AVIS IMPORTANT
            </h1>
            <!--
            <h2>
                Le temps de prendre connaissance de vos propositions et suggestions pour bonifier le projet de loi de convocation et nous serons de retour avec la phase 3. 
            </h2>
            <p>
                Dans cette phase, vos propositions et suggestions seront soumises au public pour assurer une rédaction collaborative d'une version améliorée de notre projet de loi de convocation. 
            </p>
            <p>
                Vous n’avez pu apporter votre contribution à la phase 2, vous pourrez tout de même participer aux prochaines phases de la consultation.
            </p>
            <h3>
                Nous serons de retour le <br><strong>1er avril 2021</strong> 
            </h3>
            -->
            <p>
                Le rendez-vous 2021 se tiendra en ligne du 20 au 22 mai.
            </p>

            <p>
                Écrivez à : <strong>rendez-vous2021@accq.quebec</strong>  pour toutes questions!
            </p>
        </mat-card>
        
    </div>
</div>