
<div class="container">
    
    <div class="center2">
        <mat-card>
            <h1>
                Merci de votre intérêt, revenez bientôt.
            </h1>
            <h2>
                L'activité est présentement fini, nous compilons les résultats et nous reviendrons avec une nouvelle phase bientôt! 
            </h2>
            <h3>
                Date prévue de retour : <br><strong>18 février 2021 </strong> 
            </h3>

            <p>
                Écrivez à : <strong>projet.de.loi.accq@gmail.com</strong>  pour toutes questions!
            </p>
        </mat-card>
        
    </div>
</div>
