<div [class]="'theme-wrapper ' + (theme$ | async)">

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="push">
      <div class="branding"><img [src]="logo" />
        <span>{{ 'anms.title.short' | translate}}</span></div>
      <span>
        <div  class="branding spacer center d-inline" >
          <mat-form-field appearance="fill" floatLabel="Game_Key">
            <input
            color="primary"
            matInput
            type="text"
            placeholder="Nom de la partie"
            [(ngModel)]="the_key"
            />
          </mat-form-field>
          <div  style="margin:auto;width: fit-content;" >
            <button mat-raised-button  color="primary">Jouez!!</button>
          </div>
        </div>
      </span>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]"
          routerLinkActive="active">
          {{item.label | translate}}
        </a>
        <!--<a mat-list-item href="https://github.com/tomastrajan/angular-ngrx-material-starter" target="_blank">
          Github
        </a>
        -->
      </mat-nav-list>
    </mat-sidenav>

    <div [ngClass]="{wrapper:true,myturn:myturn$|async}">

      <div class="toolbar" >
        <mat-toolbar style="height: 84px" color="primary">
          <button mat-icon-button class="d-lg-none" (click)="sidenav.open()">
            <fa-icon icon="bars"></fa-icon>

          </button>

          <span routerLink="" class="branding spacer center d-inline d-sm-none">
            <img [src]="logo" /></span>

          <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo" />
            {{ 'anms.title.short' | translate }}</span>

          <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo" /> {{ 'anms.title.long' | translate
            }}</span>
          <span>
            <div *ngIf="is_named$|async" style="margin-right: 10px;" class="branding spacer d-none d-lg-inline" >
              <button style="margin-right: 10px;" id="my_input" mat-raised-button  color="primary">Jouez!</button>
              <mat-form-field id="my_input" >
                <input
                autocomplete="off"
                id="my_input"
                matInput
                type="text"
                [(ngModel)]="the_key"
                />
                <mat-placeholder id="my_input" >Nom du jeu</mat-placeholder>
              </mat-form-field>
            </div>
          </span>
          <span class="d-none d-md-inline">
            <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
              routerLinkActive="active">
              {{item.label | translate}}
            </button>
          </span>

          <button mat-button mat-stroked-button color="accent" *ngIf="!(isAuthenticated$ | async)" (click)="onLoginClick()">
            {{ 'anms.menu.login' | translate }}
          </button>

          <button *ngIf="(isAuthenticated$ | async)"
                  mat-icon-button
                  [matMenuTriggerFor]="toolbarUserMenu">
            <fa-icon icon="user-circle"></fa-icon>
          </button>
          <mat-menu #toolbarUserMenu="matMenu">
            <button mat-menu-item (click)="onLogoutClick()">
              <mat-icon><fa-icon icon="power-off"></fa-icon></mat-icon>
              <span>{{ 'anms.menu.logout' | translate }}</span>
            </button>
          </mat-menu>

          <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
            <fa-icon icon="cog"></fa-icon>
          </button>

          <a [matTooltip]="'anms.header.github' | translate"
             matTooltipPosition="before"
             mat-icon-button
             class="link d-none d-sm-inline"
             href="https://github.com/tomastrajan/angular-ngrx-material-starter"
             target="_blank">
            <fa-icon [icon]="['fab','github']"></fa-icon>
          </a>

          <span *ngIf="language$ | async as language">
            <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
              <mat-option *ngFor="let l of languages" [value]="l">
                {{ l.toUpperCase() }}
              </mat-option>
            </mat-select>
          </span>
        </mat-toolbar>
      </div>

      <div  style="margin-top: 94px;" class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.data && o.activatedRoute.routeConfig.data.title">
        <router-outlet #o="outlet"></router-outlet>
        <div style="border-style: groove;margin:5px;">
          <div style="margin:auto;width: fit-content;" *ngIf="!(is_named$|async)" >
            <h1>Entrez votre nom!</h1>
          </div>

          <div *ngIf="!(is_bottom_sheet_opened|async)" style="margin:auto;margin-top:5px;margin-bottom:5px;width: fit-content;">
            <button  mat-raised-button color="primary" (click)="openBottomSheet()">Information</button>
          </div>
          <div *ngIf="is_bottom_sheet_opened|async" style="margin:auto;width: fit-content;">
            <button  mat-raised-button color="primary" (click)="closeBottomSheet()">Fermer</button>
          </div>
        </div>

      </div>


      <div class="footer">

        <div class="row">
          <div class="col-12 signature">
            &#169; <span class="year" data-testid="footer-year">{{year}}</span> - Philippe Malric

          </div>
        </div>
      </div>

    </div>

  </mat-sidenav-container>

</div>
