
<div style="margin:auto;width: fit-content;" >
  <!--
  <mat-form-field appearance="fill" floatLabel="true">
    <input
    matInput
    type="text"
    placeholder="Your name"
    [(ngModel)]="the_name"
    (change)="nameChange()"
    />
  </mat-form-field>
  <button *ngIf="!(is_named$|async)" style="margin-rigth:10px" mat-button (click)="nameChange()" color="warn">Inscrivez votre nom!</button>
  <button *ngIf="is_named$|async" style="margin-rigth:10px" mat-button (click)="nameChange()" color="warn">Changez votre nom!</button>
</div>
<div style="margin:auto;width: fit-content;" >
<h2>Pour jouer, inscrivez votre nom et appuyer sur enter</h2>
</div>
-->
<div style="margin:auto;width: fit-content;text-align: center;" >
  <h1><u><b>Covid-19 Battle</b></u></h1>
</div>

<div style="margin:auto;width: fit-content;text-align: center;" >
  <h1><u>Un jeu de simulation d'épidémie!</u></h1>
</div>

<div style="margin:auto;width: fit-content;text-align: center;" >
  <h2>Vous devez sauver le plus de personnes en les immunisant et en les protégeant.</h2>
</div>

<div style="margin:auto;width: fit-content;text-align: center;" >
  <h3>Pour immuniser une personne, représentée par un point, il suffit de cliquer dessus.</h3>
</div>



<div style="margin:auto;width: fit-content;text-align: center;" >
  <h3>Pour passer votre tour, il suffit de cliquer sur le nombre restant de vaccins (le rond bleu sous la simulation (à gauche)).</h3>
</div>

<div style="margin:auto;width: fit-content;text-align: center;" >
  <h3>Le score à battre (en haut de la simulation) est le nombre maximum de personnes ayant été sauvé.</h3>
</div>


<div style="margin:auto;width: fit-content;text-align: center;" >
  <h4>Le rond rouge avec le signe d'une maison, en bas à droite, permet de changer de niveau et de créer des nouvelles parties qui sont sauvegardées.</h4>
</div>

<div style="margin:auto;width: fit-content;text-align: center;" >
  <h4>Il est donc possible de retrouver ces parties en entrant leurs noms dans la barre du haut, la barre verte.</h4>
</div>

<div style="margin:auto;width: fit-content;text-align: center;" >
  <h4>Sur un téléphone, ce champs se trouve dans le menu que l'on peut ouvrir en cliquant sur les trois barres horizontales en haut à gauche.</h4>
</div>
<div style="margin:auto;width: fit-content;text-align: center;" >
  <h5>Il est possible de faire bouger les points sans les immuniser.</h5>
</div>
<div style="margin:auto;width: fit-content;text-align: center;" >
  <h5>Les personnes immunisées comptent dans le score final.</h5>
</div>
<div style="margin:auto;width: fit-content;text-align: center;" >
  <h5>En tout temps, vous pouvez cliquer sur <b>restart</b> pour recommmencer (ce bouton se trouve en bas à droite de la simulation)</h5>
</div>
<div style="margin:auto;width: fit-content;text-align: center;" >
  <h5>Bonne partie!</h5>
</div>
<div style="margin:auto;width: fit-content;" >
  <button  mat-raised-button color="primary" (click)="close()">Fermer</button>
</div>
