<mat-grid-list cols="2" rowHeight="200px">
  <mat-grid-tile
      colspan="1"
      rowspan="1">
      <mat-form-field appearance="fill" floatLabel="Game_Key">
        <input
        color="primary"
        matInput
        type="text"
        placeholder="Game_Key"

        />
      </mat-form-field>
  <h4>Nom de votre joueur : </h4>
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="1">
      <button mat-raised-button  >Add 1 Player</button>
  </mat-grid-tile>
  <mat-grid-tile
  colspan="2"
  rowspan="2">
    <div>
      <button mat-raised-button style="min-height: 50px;min-width: 50px;"  ></button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
  colspan="1"
  rowspan="2">
    <div>
      <button mat-raised-button style="min-height: 50px;min-width: 50px;"  color="warn"></button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
  colspan="1"
  rowspan="3">
    <div>
      <button mat-raised-button color="accent" >Clean</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>




