<div class="container">

    <div class="center">
        <mat-card>
            <mat-card-content>
                <h2>Oublie de mot de passe</h2>
                <h3>Si vous avez oublié votre de mot de passe, écrivez votre adresse courriel ici et un courriel vous sera envoyé pour le réinitialisé.</h3>
                
                <form class="my-form">
                    <mat-form-field class="full-width">
                      <mat-label>Courriel</mat-label>
                      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                             placeholder="Ex. pat@example.com">
                      
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Entrez une adresse courriel valide
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        Le courriel est  <strong>requis</strong>
                      </mat-error>
                    </mat-form-field>
                    
                  </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onSubmit()">Réinitialiser le mot de passe</button>
            </mat-card-actions>
        </mat-card>
       
    </div>
    
    <p *ngIf="loading">Aller voir vos courriels</p>

</div>
