.center2 {
  margin: auto;
  width: fit-content;
}

.courriel {
  font-size: medium;
}

.prop {
  font-size: x-large;
}

.margin-top-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.approuve {
  background-color: rgb(184, 219, 250);
}
.delete{
  border: solid;
  border-width: 2px;
  border-color: rgb(252, 23, 61);
}