.big_font {
  font-size: 36px;
}
.center {
  margin: auto;

  width: fit-content;
}

.margin10 {
  margin-left: 10px;
  margin-right: 10px;
}

.icon-display {
  transform: scale(2);
}

.p {
  font-family: cursive;
  margin-left: 22px;
}
.header {
  font-size: large;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.l {
  margin-left: 50px;
  list-style-type: circle;
  display: list-item;
}
