.p {
  font-family: cursive;
  margin-left: 22px;
}
.header {
  font-size: large;
  font-family: fantasy;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.l {
  margin-left: 50px;
  list-style-type: circle;
  display: list-item;
}
