
<div class="container">
    
    <mat-card class="vertical-center">
        <mat-card-title class="header" >
            
            Quiz de la famille Malric!
    
        </mat-card-title>

        <mat-card-content>
            <div style="width: 100%;overflow: auto;" [ngClass]="{'rigth':!small,center1:small}" *ngIf="vote  == 'oui'">
                <template #questionContainer>
                </template>
                
            </div>
        </mat-card-content>
    
    </mat-card>
</div>
