<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
          Quiz
        </ng-template>
        
        <div class="container">
            
            <mat-card class="vertical-center">
                <mat-card-title class="header" >
                   
                   Quiz de la famille Malric!
            
                </mat-card-title>

                <mat-card-content>
                    <div [ngClass]="{'rigth':!small,center:small}" *ngIf="vote  == 'oui'">
                        <template #questionContainer>
                        </template>
                        
                    </div>
                </mat-card-content>
            
            </mat-card>
        </div>


      </mat-tab>
    <mat-tab *ngIf="(recap|async) == 'true'">
      <ng-template mat-tab-label>
        Récapitulatif
      </ng-template>
      <div class="center">
        <anms-propositions></anms-propositions>
      </div>
      
    </mat-tab>
</mat-tab-group>