<mat-tab-group [(selectedIndex)]="tabIndex">
    <mat-tab [disabled]="(sommaire|async) != 'false'">
        <ng-template mat-tab-label>
          Vote
        </ng-template>
        <mat-card style="overflow-y: auto;" [ngClass]="{'smallCard':small}">
            <mat-card-subtitle class="header" >
               
               {{item_from_sheet?.texte}}
        
            </mat-card-subtitle>

            <mat-card-content style="overflow-y: auto;">
                <div style="padding-left: 10px;">
    
                   
                        <div class="firstRow">
                            <button *ngFor="let choix of choixDeReponses2" class="mt-2 mr-5 mybutton"
                            mat-raised-button [color]="choix.color" (click)="faireUnChoix(choix.code)">
                                {{choix.texte}}
                            </button>
                       
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        
    </mat-tab>
    <mat-tab [disabled]="(sommaire|async) == 'false'">
        <ng-template mat-tab-label>
          Sommaire
        </ng-template>
        <div class="scrollH">
            <mat-card >
                <mat-card-title class="header" >
                   
                   Sommaire de la question :
            
                </mat-card-title>
    
                <mat-card-subtitle>
                    {{item_from_sheet?.texte}}
                </mat-card-subtitle>
                <mat-card-content>
                    <template #graphVote>
                    </template>
            </mat-card-content>
        </mat-card>
        </div>
        
               
             
    </mat-tab>
</mat-tab-group>


<!--
     <mat-card >
                <mat-card-title class="header" >
                   
                   Sommaire de la question 
            
                </mat-card-title>
    
                <mat-card-subtitle>
                   
                </mat-card-subtitle>
                <mat-card-content>
            </mat-card-content>
        </mat-card>
-->