<div class="container">
    <div class="center">
        <h1>
            Mode d'emploi
        </h1>
    <mat-card>
        <mat-card-title>
            <h2>Bienvenue dans le quiz de la famille Malric</h2>
        </mat-card-title>
        <mat-card-content>
            Demandé à Philippe pour les explications.
                    
        </mat-card-content>
    </mat-card>
</div>
<!--
<div class="center" style="margin-top:10px;margin-bottom:5px">
        <mat-card>
            <img mat-card-image src="assets/rendez_vous_2021_4.jpg" alt="Rendez-vous 2021" style="margin-top:10px;margin-bottom:5px">
        </mat-card>
    </div>
-->
    
</div>