<div class="container">
    <div class="center">
        <h1>
            Mode d'emploi
        </h1>
    <mat-card>
        <mat-card-title>
            <h2>Bienvenue sur l'application web du rendez-vous 2021 de l'ACCQ</h2>
        </mat-card-title>
        <mat-card-content>
            
                <h2>Inscription</h2>
                <p>
                    Pour vous inscrire, allez dans la barre en haut <span style="color:rgb(1, 80, 1)">(Votre Nom) </span>sur un ordinateur <br>ou cliquez sur les 3 barres horizontales, en haut à gauche, 
                    sur un téléphone et ou une tablette.
                </p>
                <p>
                   Dans votre nom, vous pouvez utiliser les accents et les espaces.
                </p>
                <p>
                    Vous trouverez dans l'onglet : <i>Projet de loi</i> (en haut à droite sur un ordinateur), un document.<br>Les sections de celui-ci ont été 
                    séparées afin de vous permettre de réagir au fur et à mesure de votre lecture et de
                    proposer des modifications s’il y a lieu.
                </p>
               
                <h2>La page <i>Projet de loi</i></h2>
                <p>
                    Pour chacun des paragraphes, sélectionnez le bouton
                    correspondant à votre opinion :
                </p>
                <ul>
                    <li><mat-icon>thumb_up</mat-icon> = En accord</li>
                    <li><mat-icon>thumbs_up_down</mat-icon> = Autre</li>
                    <li><mat-icon>thumb_down</mat-icon> = En désaccord</li>
                </ul>
                <p>
                    Lorsqu'il y a des alternatives aux proppositions, elles sont sous la proposition pricipale et : « amendement x » , apparrait au début (x étant le numéro de l'amendement).
                </p>
                <p>
                    Lorsque vous cliquez sur le bouton « Nouvelle proposition », une fenêtre
                    apparaît pour vous permettre d’inscrire une question, un
                    commentaire, une suggestion ou une proposition à l'équipe en charge des consultations.
                </p>
                <p>
                    Vous pouvez revenir à tout moment pour changer vos réponses.
                    Notez que cette phase de consultation se termine le <b> 28 mars 2021 à 23 h 00</b>  et que vous ne pourrez plus vous prononcer
                    sur ce volet par la suite.
                </p>
                <p><strong>Écrivez à : projet.de.loi.accq@gmail.com pour toutes questions!</strong></p>
                    
        </mat-card-content>
    </mat-card>
</div>
<!--
<div class="center" style="margin-top:10px;margin-bottom:5px">
        <mat-card>
            <img mat-card-image src="assets/rendez_vous_2021_4.jpg" alt="Rendez-vous 2021" style="margin-top:10px;margin-bottom:5px">
        </mat-card>
    </div>
-->
    
</div>